 .chat-container {
     height: 100vh;
     display: flex;
     flex-direction: column;
 }

 .hidescroll::-webkit-scrollbar {
     display: none;
 }

 /* .messages {
     flex-grow: 1;
     overflow-y: auto;
     padding: 20px;
 } */

 /* .message {
     background-color: #DCF8C6;
     padding: 10px;
     margin-bottom: 10px;
     border-radius: 10px;
     max-width: 70%;
     word-wrap: break-word;
 }

 .message.sent {
     text-align: right;
     background-color: #DCF8C6;
 } 

 /* .message.received {
     text-align: left;
     background-color: #ECE5DD;
 } */

 .input-container {
     padding: 20px;
     border-top: 1px solid #ccc;
     background-color: #fff;
     position: absolute;
     width: 97%;
     bottom: 0;
 }